// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

li.user {
  margin-top: 1.03em;
  margin-right: 1em;
  text-align: center;
  list-style: none;
}